<div>
    <h3>Login</h3>
    <form (ngSubmit)="iniciarSesion()">
        <input type="email" [(ngModel)]="credenciales.email" name="email" placeholder="Correo electrónico" required>
        <input type="password" [(ngModel)]="credenciales.password" name="password" placeholder="Contraseña" required>
        <button type="submit">Iniciar Sesión</button>
    </form>
    <hr>
    <hr>
    <asl-google-signin-button *ngIf="!user"></asl-google-signin-button>
    <hr>
    <a [routerLink]="['/registrar']">Crear cuenta</a>
</div>